<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

<hr>


<div class="col row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  <h4 class="card-title mt-2">Login</h4>
</header>
<article class="card-body">
<form>
<div class="form-row">
<div class="col form-group">
</div>
	</div> <!-- form-row.// -->
	<div class="form-row">
	<div class="col form-group">
			  <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
	</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	
  <div class="form-row">
	</div> <!-- form-row.// -->
	<div class="col form-group">
		
	  <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
	</div> <!-- form-group end.// -->  
    <div class="col form-group">
    <div class="form-actions">
           <%= f.button :submit, "Log in", class: 'btn btn-primary' %>                                      

    </div> <!-- form-group// -->      
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Don't have an account? <%= render "devise/shared/links" %></div>

</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->

<% end %>
</div> 
<!--container end.//-->

<br><br>

