<link rel="shortcut icon" href="https://colorlib.com/wp-content/uploads/2017/11/11">
    <script>

            function initMap() {
            var myLatLng = {lat: <%= @place.latitude%>, lng: <%= @place.longitude %>};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
            }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk3CRKmTP3yRD0IB-3SVtObDz_MwXTB8A&callback=initMap">
        </script>


<section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3><%= @place.name %></h3>
                    <br/>
                    
                    <p class="reserve-description"><%= @place.description %></p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-rating">
                            <span>9.5</span>
                        </div>
                        <div class="review-btn">
                            <a href="#" class="btn btn-outline-danger">WRITE A REVIEW</a>
                            <span>34 reviews</span>
                        </div>
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                            <% if current_user && current_user == @place.user %>
                                <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-success' %>
                                <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
                            <% end %>   

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="contact-info">
                     <% if @place.latitude.present? && @place.longitude.present? %>
         <div id="map"></div>
         <% end %>
                        <div class="address">
                            <%= favicon_link_tag asset_path('pin.png') %>
                            <p><%= @place.address %></p>
                        </div>
                        <div class="address">
                            <span class="icon-screen-smartphone"></span>
                            <p> <%= @place.phone_number %></p>
                        </div>
                        <div class="address">
                            <span class="icon-link"></span>
                           <a href="<%= @place.website %>"> <p><%= @place.website %></p></a>
                        </div>
                        <div class="address">
                            <span class="icon-clock"></span>
                            <p><%= @place.hours %> <br>
                </div>
            </div>
        </div>
    </section>  
    