<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="main-index">

                    <div class="styled-heading">
                        <h3>Featured Places</h3>
                    </div>
    <div class="container">
            <div class='row'>
                <% @places.each do |place| %>
                    <div class='col-md-4'>
                        <div class="featured-place-wrap">
                                <% if place.photos.present? %>
                                    <%= image_tag place.photos.last.picture.url %>
                                <% end %>
                                <h4><%= link_to place.name, place_path(place) %></h4>
                                <% if place.comments.present? %>
                                        <span><%= place.comments.last.comment %></span>
                                <% end %>
                                <br />
                                <% if place.comments.present? %>
                                <div class="reserve-rating">
                                    <span><%= place.comments.average(:rating) %></span>
                                </div>
                                <% end %>
                                <span><%= place.comments.count %> review(s)</span>
                                <div class="address">
                                    <span class="fas fa-map-marker-alt"></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <%= place.address %>
                                </div>
                                <div class="address">
                                    <span class="fas fa-mobile"></span>
                                    <span class="icon-screen-smartphone"></span>
                                    <p><%= place.phone_number %></p>
                                </div>
                                <div class="address">
                                    <span class="fas fa-link"></span>
                                    <a href="<%= place.website %>"><p><%= place.website %></p></a>
                                </div>
                                <div class="address">
                                    <span class="far fa-clock"></span>
                                    <p><%= place.hours %></p> <br>
                                </div>
                                <% if place.user.present? %>
                                <small>Posted by: <%= place.user.email %></small>
                                <% end %> 
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
</div>