<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container"><!---Container Start--->
    <% @places.in_groups_of(3, false).each do |group| %>
        <div class='row'><!---Row Start--->
            <% @places.each do |place| %>
                <div class='col-md-4'><!---Col Start--->
                    <div class="featured-place-wrap"><!---Featured Start--->
                        <h4><%= link_to place.name, place_path(place) %></h4><br />
                            <% if place.comments.present? %>
                                <div class="reserve-rating">
                                    <span><%= place.comments.average(:rating) %></span>
                                </div>
                            <% end %>
                                <span><%= place.comments.count %> review(s)</span>

                                 <% place.photos.each do |photo|%>
                                    <%= image_tag photo.picture.url %>
                                    <%= photo.caption %>
                                <% end %>
                                
                                <div class="address">
                                    <span class="fas fa-map-marker-alt"></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= place.address %>
                                </div>
                                
                                <div class="address">
                                    <span class="fas fa-mobile"></span><p><%= place.phone_number %></p>
                                </div>
                                <div class="address">
                                    <span class="fas fa-link"></span><a href="<%= place.website %>"> <p><%= place.website %></p></a>
                                </div>
                                <div class="address">
                                    <span class="far fa-clock"></span><p><%= place.hours %> <br>
                                </div>
                                <div class="address">
                                <% if place.user.present? %>
                                <small><p>Posted by: <%= place.user.email %></small>
                            </div>
                        <% end %>
                    </div><!---Featured End--->
                </div><!---Col End--->
            <% end %>
        </div><!---Row End--->
    <% end%>
</div><!---Container End--->